<h1>Saved Articles</h1>
{{#each savedArticles}}
  <div
    class="card my-3 position-relative"
  >
  <a
    class="position-absolute"
    style="bottom: 5px; right: 5px; color: initial;"
    href="#"
    data-id="{{ _id }}"
    data-delete-article=""
  >
    <i
      class="material-icons"
      data-id="{{ _id }}"
    >
      delete
    </i>
  </a>

      <h3
        class="card-header"
      >
        <a
          href="{{ link }}"
          style="color: initial;"
        >
          {{ title }}
        </a>
      </h3>
    <div
      class="card-body"
    >
      <p
        class="card-text"
      >
        {{ preview }}
      </p>
    </div>
    <div class="card-footer p-1">
    <button
      class="btn btn-danger w-50 mx-auto"
      data-comments=""
      data-id="{{ _id }}"
    >
      Article Notes
    </button>
    </div>
  </div>
{{/each}}

{{> modalComments }}